.card {
  background-color: white;
  border: 1px solid grey;
  border-radius: .5rem;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.form-group > label {
  margin-top: 5%;
  font-size: 1.2rem;
  text-align: center;
}

.form > button {
  width: 200px;
}

.step-title {
  margin: 0;
  font-size: 3.5rem;
  text-align: center;
}

.button-row {
  margin: 0 auto;
  padding-top: 1.25rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}